<% content_for(:menu_toggle_hide_class, "menu-toggle--inactive") %>
<% content_for(:menu_toggle_show_class, "menu-toggle--active") %>
<% content_for(:aside_class, "off-screen-left") %>
<% content_for(:main_class, "full-screen") %>

<div class='landing'>
  <div class='landing__content'>
    Welcome
  </div>
</div>
