<% content_for(:menu_toggle_hide_class, "menu-toggle--inactive") %>
<% content_for(:menu_toggle_show_class, "menu-toggle--active") %>
<% content_for(:aside_class, "off-screen-left") %>
<% content_for(:main_class, "full-screen") %>

<div class='page'>
  <div class='landing'>
    <div class='landing__title'>
      My Father keeps the PM waiting
    </div>
    <div class='landing__subtitle'>
      Lindsay Camp
    </div>
  </div>
</div>