<div class='page'>
	<div class='text'>
		<p>
			<i>My Father keeps the PM waiting</i> is a slightly difficult-to-categorise creative writing project, based on the life-story of my father, who died in 2002. It falls into two main parts:
		</p>
		<p>
			<i><%= link_to "My Father keeps the PM waiting (1970)", part_sections_path(Part.find_by(title: "My Father keeps the PM waiting (1970)")) %></i> is a heavily fictionalised, novel-length account of a pivotal week in my father's life; the few days before and after the 1970 General Election, in which he worked as a key publicity adviser to Harold Wilson.
		</p>
		<p>
			<i><%= link_to "My Father (1926-2002)", part_sections_path(Part.find_by(title: "My Father (1926 - 2002)")) %></i> consists of a series of short pieces based on incidents and scenes from the entirety of my father's life. Again, most of these are heavily fictionalised, though a few are drawn directly from life, when they relate to my own recollections of my father.
		</p>
		<p>
			When I'm writing about a fictional character based, more or less loosely, on my father, he appears as My Father; when I am writing about the man I remember, it's my father.
		</p>
		<p>
			Finally, if you would like to know more about who my father really was, you can read one of his obituaries <%= link_to "here", 'https://www.theguardian.com/news/2002/jan/29/guardianobituaries', target: :_blank %>, and his <i>Who's Who</i> entry (of which he was immensely proud) <%= link_to "here", part_section_path(Part.find_by(title: "My Father (1926 - 2002)"), Section.find_by(title: "My father is in Who's Who")), target: :_blank %>.
		</p>
	</div>
</div>