<div id='delete-section-modal' class='modal hidden'>
  <div class='modal__panel'>
    <%= link_to admin_part_sections_path, class: "modal__close", data: { modal_close: true } do %>
      <i class="material-icons">
        clear
      </i>
    <% end %>

    Are you sure? This cannot be undone

    <div class="actions">
      <%= button_to '#', class: 'button button__medium', disabled: true, method: :delete do %>
        Yes, delete
      <% end %>
    </div>
  </div>
</div>