<div class='existing-version field field__inline'>
	<div><%= vf.object.document.file.filename %></div>
  <div class='input__checkbox'>
  	<%= vf.label :delete, 'Delete' %>
  	<%= vf.check_box :delete %>
  </div>
	
	<%= vf.hidden_field :id %>
</div>