<div class='js-class-admin-sections-page page' />

<div class='list'>
  <% if sections.any? %>
    <% sections.each do |existing_section| %>
      <%= render('section', section: existing_section) %>
    <% end %>
  <% end %>
</div>

<div class='actions'>
	<%= link_to 'Add', '#', id: 'add_new_section_link', data: {form: render('section_form', form: form)}, class: 'button button__medium' %>
</div>
