body, html {
  height: 100%
}

aside {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: auto;

  &.admin {
    right: 0;
  }
  &.standard {
    left: 0;
  }
}

main {
  height: 100%;
  &.admin {
    padding-right: 220px;
  }
  &.standard {
    padding-left: 220px;
  }
}
