* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

aside {
  max-width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: auto;
  padding: $padding * 2;
  background-color: $background-secondary;

  &.admin {
    right: 0;
  }
  &.standard {
    left: 0;
  }

  &.off-screen-left {
    transition-duration: 0.5s;
    margin-left: -($sidebar-width);
  }
  &.on-screen-left {
    transition-duration: 0.5s;
    margin-left: 0;
  }
}

main {
  height: 100%;

  &.admin {
    padding-right: $sidebar-width;
  }
  &.standard {
    padding-left: $sidebar-width;
    display: flex;
    flex-direction: column;
  }

  &.full-screen {
    transition-duration: 0.5s;
    padding-left: 0;
    padding-right: 0
  }
  &.padded-left {
    transition-duration: 0.5s;
    padding-left: $sidebar-width;
  }

  @media (max-width: 600px) {
    &.standard {
      padding-left: 0;
    }
  }
}

.page {
  flex-grow: 1;
  padding: $padding;
  padding-bottom: 79px;
}
