* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

aside {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: auto;
  padding: $padding * 2;
  background-color: $background-secondary;

  &.admin {
    right: 0;
  }
  &.standard {
    left: 0;
  }
}

main {
  height: 100%;
  &.admin {
    padding-right: $sidebar-width;
  }
  &.standard {
    padding-left: $sidebar-width;
  }
}

.page {
  padding-bottom: 69px;
}
