.actions {
	display: flex;
	flex-direction: row-reverse;
	padding: $padding 0;
}

form {
	.fieldset {
		padding: $padding;
		border: 1px solid $background-secondary;
		margin-bottom: $padding;
	}

	.field {
		padding: $padding 0;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}

		&__inline {
			display: flex;
			div {
				margin-right: $padding;
			}
		}
	}

	.input__label {
		padding-bottom: 2px;
		font-size: 0.75rem;
	}

	.input__text {
		input {
			width: 100%;
			font-size: 1rem;
			padding: 2px;
		}
	}
}