.actions {
	display: flex;
	flex-direction: row-reverse;
	padding: $padding 0;
}

form {
	.fieldset {
		padding: $padding;
		border: 1px solid $background-secondary;
		margin-bottom: $padding;
	}

	.field {
		margin: 0 0 $padding 0;

		&:last-child {
			margin-bottom: 0;
		}

		&__inline {
			display: flex;
			div {
				margin-right: $padding;
			}
		}
	}

	.input__label {
		padding-bottom: 2px;
		font-size: 0.75rem;
	}

	.input__text {
		input {
			width: 100%;
			font-size: 1rem;
			padding: 2px;
		}
	}

	.input__checkbox {
		border: 1px solid $background-secondary;
		padding: 2px;
		label {
			display: block;
		  position: relative;
		  padding-right: 35px;
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;

		  input {
			  position: absolute;
			  opacity: 0;
			  cursor: pointer;
			  height: 0;
			  width: 0;
			}

			.checkmark {
			  position: absolute;
			  top: 0;
			  right: 0;
			  height: 25px;
			  width: 25px;
			  background-color: $background-secondary;
			}

			&:hover input ~ .checkmark {
			  background-color: $background-dark;
			}

			input:checked ~ .checkmark {
			  background-color: $selected;
			}

			.checkmark:after {
			  content: "";
			  position: absolute;
			  display: none;
			}

			input:checked ~ .checkmark:after {
			  display: block;
			}

			.checkmark:after {
			  left: 9px;
			  top: 5px;
			  width: 5px;
			  height: 10px;
			  border: solid white;
			  border-width: 0 3px 3px 0;
			  -webkit-transform: rotate(45deg);
			  -ms-transform: rotate(45deg);
			  transform: rotate(45deg);
			}
		}

		&__predecessor {
			line-height: 1.4em;
		}
	}
}