.list {
	.item {
		position: relative;
		padding: none;
		padding-top: $padding * 0.75;
		padding-bottom: $padding * 0.75;
		border-bottom: 1px solid $background-secondary;

		p {
			margin: 0;
			margin-right: $padding;
			display: inline-block;
		}

		&__actions {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 10px;
			color: $background-secondary;
			cursor: move;
		}
	}

}