.menu {
	list-style-type: none;
  margin: 0;
  padding: 0;

  li {
  	margin-bottom: 2px;
    padding: $padding;
  }

  a {
  	text-decoration: none;
  }

  .menu__section {
  	margin-bottom: $padding;

  	.menu__section-header {
      font-size: 1.1rem;
  		background-color: $background-primary;
      color: $background-secondary;
      cursor: pointer;
  	}

    &:not(.open) {
      .menu__link__with-header {
        display: none;
      }
    }
  }

  .menu__link {
  	position: relative;

  	.arrow {
  		display: none;
  		position: absolute;

      &.admin {
        left: -1 * $padding * 2;
        top: 0;
      }
      &.standard {
        right: -1 * $padding * 2;
  		  top: 0;
  		}

  		&.active {
  			display: inline-block;
  		}
  	}

    &__with-header {
      padding-top: $padding * 0.5;
      padding-bottom: $padding * 0.5;
      border: 1px solid $background-primary;
      background-color: $background-secondary;
      color: $text-color;

      &.active, &:hover {
        background-color: $background-primary;
        color: $background-secondary;
      }
    }
  }
}