// only hide 'closed' nav sections with JS enabled
.js .menu__section:not(.open) {
  .menu__item-with-header {
    display: none;
  }
}

.menu {
	list-style-type: none;
  margin: 0;
  padding: 0;

  a {
  	text-decoration: none;
  }

  &__section {
  	margin-bottom: $padding;
  }

  &__section-header {
    margin-bottom: 2px;
    padding: $padding;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: $background-primary;
    color: $background-dark;
    cursor: pointer;
  }

  &__item {
  	position: relative;

    &.active {
      .arrow {
        display: inline-block;
      }
      .menu__item-with-header {
        background-color: $background-primary;
        color: $background-secondary;
      }
    }

  	.arrow {
  		display: none;
  		position: absolute;

      &.admin {
        left: -1 * $padding * 2;
        top: calc(50% - 15px);
      }
      &.standard {
        right: -1 * $padding * 2;
        top: calc(50% - 15px);
  		}
  	}
  }

  &__item-with-header {
    margin-bottom: 2px;
    padding: $padding;
    border: 1px solid $background-primary;
    background-color: $background-secondary;
    color: $background-primary;

    &:hover {
      background-color: $background-primary;
      color: $background-secondary;
    }
  }
}