.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	
	&__panel {
		max-width: $panel-width;
		width: 90%;
	  position:absolute;
	  top:50%;
	  left:50%;
	  transform:translate(-50%, -50%);
	  border: 1px solid $border;
	  padding: $padding * 3;
	  background-color: $background-primary;
	}

	&__close {
		display: flex;
		flex-direction: row-reverse;
		text-decoration: none;
		color: inherit;
	}
}
