.text {
	display: inline-block;
	padding-left: $padding * 2;
	padding-right: $padding * 2;
	max-width: $text-width;

  &__title {
    font-weight: 400;
    font-size: $large-font-size;
    margin-top: $padding;
    margin-bottom: $padding * 2;
  }

  :first-child {
    margin-top: $padding;
  }
}