$background-primary: white;
$background-secondary: #8DBAC9;
$background-dark: #3f7d92;
$background-translucent: rgba(0, 0, 0, 0.5);
$danger: red;
$success: green;

$border: black;

$selected: #2196F3;

$text-color: black;
$gray: #D3D3D3;

