<!DOCTYPE html>
<html>
  <head>
    <%= render('head') %>
  </head>

  <body>
    <div class='flash-alert'>
      <%= flash[:alert] %>
    </div>

    <main>
      <%= yield %>
    </main>
    <%= render('navigation') %>
  </body>
</html>
